html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  padding: 0;
  margin:0;
  line-height: inherit;
}

/*@font-face {*/
/*  font-family: 'Mona Sans';*/
/*  src:*/
/*          url('Mona-Sans.woff2') format('woff2 supports variations'),*/
/*          url('Mona-Sans.woff2') format('woff2-variations');*/
/*  font-weight: 200 900;*/
/*  font-stretch: 75% 125%;*/
/*}*/

html {
  font-family: 'Mona Sans';
}
